
.page_body {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.page_main {
    width: 75%;
    border-radius: 15px;
    padding: 30px;
}

.blog_title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blog_tags {
    opacity: 0.6;
    border-bottom: 1px solid #CCCCCC77;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.blog_tags > span {
    margin-right: 20px;
}

.blog_content {
    font-size: 20px;
    line-height: 30px;
}

.blog_content h1 {
    font-size: 32px;
    line-height: 42px;
}

.blog_content h2 {
    font-size: 28px;
    line-height: 40px;
}

.blog_content img {
    max-width: 100%;
    display: block;
    margin:  20px auto;
}
.page_side {
    width: 256px;
    height: 100vh;
    /* background-color: blue; */
}

.page_navigate {
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
}

.page_return {
    cursor: pointer;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.heading_item {
    cursor: pointer;

}

.heading_title {
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCCCCC77;

}

.heading_h1 {
    text-indent: 5px;
    font-size: 18px;
    line-height: 25px;
}
.heading_h2 {
    font-size: 14px;
    text-indent: 15px;
    line-height: 25px;
    opacity: 0.7;
}

@media (max-width: 1200px) {
    .page_side {
        display: none;
        /* background-color: blue; */
    }
    .page_main {
        width: 100%;
        border-radius: 0;
    }
}


