* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-dark-color: #2a4d69;
  --main-active-color: #95CA6A;
  
}



html,body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
}

.common_bg {
  opacity: 0.9;
}

.theme {
  transition: 1s all ease;
}

.dark {
  --main-font-color: #fff;
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
  color: #fff;
}

.light {
  --main-font-color: #000;
  background-color: #E3EDCD;
  color: #000
}

.light input {
  background-color: #000;
  color: #fff;
}

.light .common_bg {
  background-color: #e3f2fd; /* 或者 #bbdefb */
  color: #333333; /* 深灰色文本 */
}

.light a {
  color: #333333; /* 深灰色文本 */
}

.light a:hover, .light .activeColor {
  color: #95CA6A;
}

.dark a {
  color: #ffffff; /* 深灰色文本 */
}

.dark a:hover, .dark .activeColor {
  color: #95CA6A;
}



.codeBox {
  scrollbar-width: none; /* 隐藏滚动条 */
  -ms-overflow-style: none;  /* 隐藏滚动条 */
  overflow: scroll;
  border-radius: 10px;
  padding: 25px;
  margin: 20px 0;
}

/* .light .codeBox {
  background-color: #EDF5F0;
} */


.light .codeBox {
  color: #fff;
  background-color: #1F1F1F;
}

.dark .codeBox {
  background-color: #1F1F1F;
}

.dark .common_bg {
  background-color: #2a4d69; /* 或者 #2a4d69 */
  color: #ffffff; /* 白色文本 */
}

.light .active {
  background-color: #333333;
  color: #e3f2fd;
}

.dark .active {
  background-color: #fff;
  color: #2a4d69;
}


.light .hover:hover {
  background-color: #333333;
  color: #e3f2fd;
}

.dark .hover:hover {
  background-color: #fff;
  color: #2a4d69;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1200px) {
  .hide_1200 {
      display: block;
  }
}

@media (min-width: 1200px) {
  .hide_1200 {
      display: none;
  }
}

/* 两行省略 */
.doubleEllip {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 单行省略 */
.singleEllip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
