* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
}

.theme {
  transition: 1s all ease;
}

.dark {
  background-color: #000;
  color: #fff;
}

.light {
  background-color: #E3EDCD;
  color: #000
}

.light input {
  background-color: #000;
  color: #fff;
}

.light .common_bg {
  background-color: #e3f2fd; /* 或者 #bbdefb */
  color: #333333; /* 深灰色文本 */
}

.light a {
  color: #333333 !important; /* 深灰色文本 */
}

.dark a {
  color: #ffffff; /* 深灰色文本 */
}

.dark .common_bg {
  background-color: #2a4d69; /* 或者 #2a4d69 */
  color: #ffffff; /* 白色文本 */
}

a {
  text-decoration: none;
  color: inherit;
}