.container {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.container p {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .container {
        margin-bottom: 0;
    }
}