.blog_item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 150px;
}

/* a.blog_item:nth-child(1) >  {
    border-top: 1px solid #E5E5E599;
} */

.blog_item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #fff;
}

.blog_item:hover .item_img {
    transform: scale(1.2);
}


.item_left {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.item_right {
    position: absolute;
    top: 5%;
    right: 10px;
    opacity: 0.8;
    overflow: hidden;
    width: 35%;
    /* min-height: 120px; */
    height: 90%;
    mask: linear-gradient(to right, transparent, #000);
    background-size: 100% 100%;
}

.blog_title {
    font-size: 24px;
}

.blog_desc {
    height: 30px;
    line-height: 15px;
    font-size: 14px;
    color: #999;
}

.item_img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.6s ease all;
}

.default_img {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #999;
}