.container {
    width: 100vw;
    /* height: 100px; */
    line-height: 30px;
    text-align: center;
    word-break: break-all;
    padding-bottom: 40px;
}

.beian_info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}