.work_item {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    /* background-color: #000; */
}

.work_cover {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.work_title {
    margin-top: 10px;
    font-size: 25px;
    line-height: 30px;
    height: 60px;
}

.work_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--main-active-color);
     */
    backdrop-filter: saturate(180%) blur(20px);
    scale: 1;
    opacity: 0;
    transition: all ease 0.3s;
}

.work_item:hover .work_layer {
    /* transform: translate(0, 0); */
    opacity: 1;
    scale: 1;
}

.work_layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer_item {
    pointer-events: none;
    cursor: auto;
    width: 100px;
}

.work_item:hover .layer_item {
    pointer-events: all;
    cursor: pointer;
}

.layer_disabled {
    opacity: 0.6;
    cursor: no-drop;
}


.layer_icon {
    text-align: center;
    font-size: 50px;
}

.layer_name {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

