.container {
    
}
.page_body {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.page_main {
    width: 75%;
    border-radius: 15px;
}

.page_side {
    width: 20%;
    background-color: blue;
}

